
/*
Rosa: #C6426E
Morado: #642B73
Negro: #999
Gris: #f5f5f5
Verde: #1F4037
Verde claro: #99F2C8
*/

html{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #1F4037;
}

img{
    max-width: 100%;
}

a:hover{
    opacity: 0.8;
}

.title{
    text-transform: uppercase;
    text-align: center;
}

.container{
    background: #1f4037;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

}

.content{
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background: #fff;
    /* box-shadow: DiferenciaHorizontal DiferenciaVertical Desenfoque Amplitud Color; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius:  4px;
    position: relative;
    padding: 1.8em;
    
}

.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    height: 40px;
     width: 40px;
     color: white;
     border-radius: 50%;
     background: #1F4037;
     display: inline-block;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
     cursor: pointer;
     font-weight: 300;
     display: flex;
     align-items: center;
     justify-content: center;
}

.paragraph{
    line-height: 1.8em;
    font-weight: 400;
}

.fa-solid{
    color: #ffC400;
}

address i.fa-solid{
    color: green;
}

.table{
    width: 100%;
    border-spacing: 0;
}

.table td, .table th{
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even){background:#99f2c8; }

.title-item{
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #99f2c8; */

    /* Shorthand Properties simplificacion */
    font-size: 2em;
    border-bottom: solid 2px #99f2c8; 
    padding-bottom: 1em;
}
.address{
    font-weight: bold;
    color:#1F4037;
    font-size: 1.5em;
    display: inline-block;
    margin-top: 1em;
}

.main-images{
    float: left;
    margin-right: 1em;
    height: 300px;
}

.position{
    background: #1F4037;
    color: white;
    padding: 0.5em;
    border-radius:  4px;
    margin-right: 0.5em;
}

@media (max-width:600px){
    .content{
        padding: 1em;
    }

    td{
        display: block;
        width: 100%;
    }
    td:nth-of-type(1){
        font-size: 1.5em;
        font-weight: bold;
        color: #1F4037;
    }

    th{
        display: none;
    
    }
}

@media (min-height:550px){
    .content{
        height: 500px;
    }
}